@{
    ViewData["Title"] = "Hashing";
}

<h1>Hashing engine</h1>



<select>
    @foreach(var i in (ViewData["algos"] as IEnumerable<string>))
        {
            <option>@i</option>
            <!-- <option value=""> (List<string>)ViewData["algos"][i]</option> -->
        }
</select>


<form action="/Crypto/Md5Hash" method="post">
    <input type="text" name="inputMd5Plain"/>
    <input type="submit" value="Submit"/>    

</form>

 